body {
  margin: 20px 50px;
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h1 {
  font-size: 30px;
}

.btn {
  font-size: 14px;
}

.btn-primary {
  font-weight: 800;
}

.card {
  margin-bottom: 10px;
}

.badge {
  margin-right: 2px;
}
